<div class="container">
    <div class="py-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="h3 fw-bold">¿Olvido su contraseña?</h1>
                        <hr>
                        <p>Por favor ingrese su dirección de correo para restablecer su contraseña</p>
                        <form #signInForm="ngForm" (ngSubmit)="submit(signInForm.value)">
                            <div class="mb-3">
                              <label for="email_user" class="form-label">Correo electrónico</label>
                              <input type="email" class="form-control" id="email_user" name="email" required [(ngModel)]="email" placeholder="Ej: usuario@email.com" required maxlength="255">
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-success text-uppercase fw-bold shadow-sm mb-3">Enviar</button>
                            </div>
                            
                        </form>
                        <div class="text-center">
                            <span><a class="btn btn-sm btn-link" routerLink="/login">Volver al inicio de sesión</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>