
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><strong>PrimeStone test</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
         
        </ul>
        <div class="d-flex">
          <span class="navbar-text d-inline-block me-2" *ngIf="user">Hola, {{user.displayName}}</span>
          <button class="btn btn-outline-light" type="button" (click)="signOut()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="container py-3">
      <h2 class="h3 fw-bolder text-center">Tablero de actividades</h2>

      <div class="text-center">
        <button (click)="newTask()" mat-raised-button color="primary" class="mb-3" data-bs-toggle="modal" data-bs-target="#addTaskModal">
            <mat-icon>add</mat-icon> Nueva tarea
        </button>
      </div>
      
        <div class="row">
            <div class="col-lg-4">
                <h2>Nuevas tareas</h2>
        
                <mat-card
                cdkDropList
                id="todo"
                #todoList="cdkDropList"
                [cdkDropListData]="todo | async"
                [cdkDropListConnectedTo]="[doneList, inProgressList]"
                (cdkDropListDropped)="drop($event)"
                class="list">
                <p class="empty-label" *ngIf="(todo | async)?.length === 0">Lista vacia</p>
                <app-activity (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-activity>
                </mat-card>
            </div>
      
            <div class="col-lg-4">
                <h2>En progreso</h2>
        
                <mat-card
                cdkDropList
                id="inProgress"
                #inProgressList="cdkDropList"
                [cdkDropListData]="inProgress | async"
                [cdkDropListConnectedTo]="[todoList, doneList]"
                (cdkDropListDropped)="drop($event)"
                class="list">
                <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Lista vacia</p>
                <app-activity (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-activity>
                </mat-card>
            </div>
      
            <div class="col-lg-4">
                <h2>Terminadas</h2>
        
                <mat-card
                cdkDropList
                id="done"
                #doneList="cdkDropList"
                [cdkDropListData]="done | async"
                [cdkDropListConnectedTo]="[todoList, inProgressList]"
                (cdkDropListDropped)="drop($event)"
                class="list">
                    <p class="empty-label" *ngIf="(done | async)?.length === 0">Lista vacia</p>
                    <app-activity (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-activity>
                </mat-card>
            </div>    
        </div>
      
</div>
