<div class="container">
    <div class="py-4">
        <form>
            <div class="mb-3">
              <label for="email_user" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="email_user" placeholder="Ej: usuario@email.com">
            </div>
            <div class="mb-3">
              <label for="password_user" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password_user" placeholder="Ingrese su contraseña">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recordar cuenta</label>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
    
</div>